.container {
  margin: 2rem;

  &__filter {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0 1rem 2rem 1rem;

    .search {
      width: 400px;
    }
  }

  &__main {
    padding: 0 0 0 1rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  &__pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0;
  }
}
