.sort {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  position: relative;

  span {
    font-family: Roboto;
    font-size: 1rem;
    color: #3b3e43;

    &:hover {
      color: #000;
      cursor: pointer;
    }
  }

  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
      &:hover {
        cursor: pointer;

        path {
          fill: #000;
        }
      }
    }
  }

  &__option {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 0.5rem 1rem;
    top: 0;
    right: 0;
    gap: 1rem;
    margin: 2rem 0 0 0;
    border: 3px solid #3b3e43;
    background-color: #7f8380;
    z-index: 5;

    span {
      font-size: 1rem;
      font-family: Roboto;
      color: #3b3e43;
      padding: 0.5rem;

      &:hover {
        background-color: #3b3e43;
        color: #fff;
        border-radius: 0.5rem;
      }
    }

    .active {
      background-color: #3b3e43;
      color: #fff;
      border-radius: 0.5rem;
    }
  }
}
