.container {
  width: 100%;
  min-height: 85px;
  height: auto;
  display: flex;
  flex-direction: row;
  background-color: #7f8380;
  box-shadow: -1px 6px 18px -1px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: -1px 6px 18px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 6px 18px -1px rgba(0, 0, 0, 0.75);
  position: sticky;
  top: 0;
  z-index: 99;

  &__logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    flex: 0 1 25%;
    width: 150px;
    height: auto;
    padding: 0 0 0 5rem;

    a {
      width: 150px;
      height: 85px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;

      img {
        width: 100%;
        height: 100%;
      }
    }
  }

  &__hamburger {
    display: none;
  }

  &__nav_2 {
    display: none;
    flex: 1 1 100%;
    padding: 0.25rem 0.5rem;

    ul {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      gap: 0.75rem;
      margin: 0;
      padding: 0;
      list-style-type: none;
      width: 100%;
      height: 100%;

      li {
        a {
          font-size: 1rem;
          font-family: Roboto;
          font-weight: 500;
          color: #3b3e43;
          text-decoration: none;
          padding: 0.25rem 0.75rem;

          &.active {
            color: #fff;
            background-color: #3b3e43;
            border-radius: 0.5rem;
          }

          &:hover {
            color: #fff;
            background-color: #3b3e43;
            border-radius: 0.5rem;
          }
        }
      }
    }
  }

  &__nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex: 0 1 50%;

    ul {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      gap: 1.25rem;
      margin: 0;
      padding: 0;
      list-style-type: none;
      width: 100%;
      height: 100%;

      li {
        a {
          font-size: 1rem;
          font-family: Roboto;
          font-weight: 500;
          color: #3b3e43;
          text-decoration: none;
          padding: 0.25rem 1rem;

          &.active {
            color: #fff;
            background-color: #3b3e43;
            border-radius: 0.5rem;
          }

          &:hover {
            color: #fff;
            background-color: #3b3e43;
            border-radius: 0.5rem;
          }
        }
      }
    }
  }

  &__settings {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    flex: 0 1 25%;
    padding: 0 5rem 0 0;

    .collapse {
      position: relative;

      button {
        border: none;
        padding: 0;
        margin: 0;
        background-color: transparent;
        width: 24px;
        height: 24px;

        svg {
          path {
            stroke: black;
          }
        }

        &:hover {
          cursor: pointer;
          transform: rotate(360deg);
          transition: transform 0.75s ease-in-out;
        }
      }

      .selections {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 45px;
        right: -52.5px;
        border: 3px solid #3b3e43;
        background-color: #7f8380;

        &__country {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-evenly;
          border-bottom: 3px solid #3b3e43;
          width: 125px;
          height: 75px;

          .flag {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 0.5rem;

            img {
              transition: transform 0.25s ease-in-out;
            }

            span {
              font-size: 1rem;
              font-family: Roboto;
              font-weight: 500;
              color: #3b3e43;
              border-radius: 0.5rem;
              padding: 0.25rem 0.5rem;
            }

            &:hover {
              cursor: pointer;

              img {
                transform: scale(1.1);
              }
            }

            .active {
              background-color: #3b3e43;
              color: #fff;
            }
          }
        }

        &__play {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;
          width: 125px;
          height: 75px;

          a {
            width: 40px;
            height: 40px;

            svg {
              width: 100%;
              height: 100%;
              transition: transform 0.25s ease-in-out;
            }

            &:hover {
              cursor: pointer;

              svg {
                transform: scale(1.1);
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1024px) {
  .container {
    &__logo {
      justify-content: center;
      padding: 0;

      a {
        width: 150px;
        height: 85px;

        img {
          width: 100%;
          height: 100%;
        }
      }
    }

    &__nav {
      flex: 0 1 60%;

      ul {
        gap: 1rem;

        li {
          a {
            font-size: 0.9rem;
            padding: 0.15rem 0.8rem;
          }
        }
      }
    }

    &__settings {
      justify-content: center;
      flex: 0 1 15%;
      padding: 0;

      .collapse {
        position: relative;

        button {
          border: none;
          padding: 0;
          margin: 0;
          background-color: transparent;
          width: 24px;
          height: 24px;

          svg {
            path {
              stroke: black;
            }
          }

          &:hover {
            cursor: pointer;
            transform: rotate(360deg);
            transition: transform 0.75s ease-in-out;
          }
        }

        .selections {
          right: -40px;
        }
      }
    }
  }
}

@media (max-width: 900px) {
  .container {
    &__logo {
      flex: 0 1 15%;
      justify-content: center;
      padding: 0;

      a {
        width: 125px;
        height: 75px;

        img {
          width: 100%;
          height: 100%;
        }
      }
    }

    &__nav {
      flex: 0 1 75%;

      ul {
        gap: 1rem;

        li {
          a {
            font-size: 0.9rem;
            padding: 0.15rem 0.8rem;
          }
        }
      }
    }

    &__settings {
      justify-content: center;
      flex: 0 1 10%;
      padding: 0;

      .collapse {
        position: relative;

        button {
          border: none;
          padding: 0;
          margin: 0;
          background-color: transparent;
          width: 24px;
          height: 24px;

          svg {
            path {
              stroke: black;
            }
          }

          &:hover {
            cursor: pointer;
            transform: rotate(360deg);
            transition: transform 0.75s ease-in-out;
          }
        }

        .selections {
          right: 0;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .container {
    &__logo {
      flex: 0 1 15%;
      justify-content: center;
      padding: 0;

      a {
        width: 75px;
        height: 50px;

        img {
          width: 100%;
          height: 100%;
        }
      }
    }

    &__nav {
      flex: 0 1 75%;

      ul {
        gap: 0.75rem;

        li {
          a {
            font-size: 0.75rem;
            padding: 0.1rem 0.75rem;
          }
        }
      }
    }

    &__settings {
      justify-content: center;
      flex: 0 1 10%;
      padding: 0;

      .collapse {
        position: relative;

        button {
          border: none;
          padding: 0;
          margin: 0;
          background-color: transparent;
          width: 24px;
          height: 24px;

          svg {
            path {
              stroke: black;
            }
          }

          &:hover {
            cursor: pointer;
            transform: rotate(360deg);
            transition: transform 0.75s ease-in-out;
          }
        }

        .selections {
          right: 0;
        }
      }
    }
  }
}

@media (max-width: 600px) {
  .container {
    flex-wrap: wrap;

    &__logo {
      flex: 0 1 35%;
      height: 85px;
      justify-content: center;
      padding: 0;

      a {
        width: 100px;
        height: 75px;

        img {
          width: 100%;
          height: 100%;
        }
      }
    }

    &__hamburger {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-end;
      flex: 0 1 40%;
      position: relative;

      button {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        outline: none;
        border: none;
        background-color: transparent;

        svg {
          width: 30px;
          height: 30px;
        }
      }

      .nav {
        position: absolute;
        left: 0;
        top: 85px;
        background-color: #7f8380;
        width: 100%;
        border: 2px solid #000;
        ul {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: center;
          gap: 0.25rem;
          margin: 0;
          padding: 0.25rem 0.5rem;
          list-style-type: none;

          li {
            padding: 0.25rem 0;
            a {
              font-size: 0.75rem;
              font-family: Roboto;
              font-weight: 400;
              color: #3b3e43;
              text-decoration: none;
              padding: 0.25rem 1rem;

              &.active {
                color: #fff;
                background-color: #3b3e43;
                border-radius: 0.5rem;
              }

              &:hover {
                color: #fff;
                background-color: #3b3e43;
                border-radius: 0.5rem;
              }
            }
          }
        }
      }
    }

    &__nav {
      display: none;
    }

    &__settings {
      justify-content: center;
      flex: 1 0;
      padding: 0;
    }
  }
}
