* {
  box-sizing: border-box;
  &::after {
    box-sizing: border-box;
  }
  &::before {
    box-sizing: border-box;
  }
}

body {
  margin: 0;
  padding: 0;
  background-color: #dddddd;
}

::selection {
  color: white; // it will change
  background: black; // it will change
}
